/* styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Neon&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.color-block {
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%; 
}

.icon-box {
    
}